<%- include('../partials/header') %>
    <div class="container">
        <h1 class="text-center mb-5">Data Kapal</h1>
        <form action="/kapal/update/<%= id %>" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Kapal</label>
                <input type="text" class="form-control" name="nama_kapal" value="<%= nama_kapal %>" required>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Pemilik</label>
                <select class="form-select" aria-label="Pilih Tingkat Keahlian" name="id_pemilik"  required>
                    <option selected>Pilih Pemilik</option>
                    <% for(var i=0; i < data_pemilik.length; i++){ %>
                        <option value="<%= data_pemilik[i]._pemilik %>"><%= data_pemilik[i].nama_pemilik %></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">Nama DPI</label>
                <select class="form-select" aria-label="Pilih Tingkat Keahlian" name="id_dpi" required>
                    <option selected>Pilih DPI</option>
                    <% for(var i=0; i < data_dpi.length; i++){ %>
                        <option value="<%= data_dpi[i].id_dpi %>"><%= data_dpi[i].nama_dpi %></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Alat Tangkap</label>
                <select class="form-select" aria-label="Pilih Tingkat Keahlian" name="id_alattangkap" required>
                    <option selected>Pilih Alat Tangkap</option>
                    <% for(var i=0; i < data_alat.length; i++){ %>
                        <option value="<%= data_alat[i].id_alattangkap %>"><%= data_alat[i].nama_alattangkap %></option>
                    <% } %>
                </select>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
            </div>
        </form>
    </div>
<%- include('../partials/footer') %>