<%- include('../partials/header.ejs') %>

<%- include('../partials/usernavbar.ejs') %>
<%- include('../partials/message.ejs') %>
    <div class="container">
        <h1 class="text-center mb-5">Data Kapal</h1>
        <form action="/produk/store" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nama" class="form-label">Foto Produk</label>
                <input type="file" class="form-control" name="foto_produk" required>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Produk</label>
                <input type="text" class="form-control" name="nama_produk" required>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">Harga Produk</label>
                <input type="text" class="form-control" name="harga_produk" required>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Kapal</label>
                <select class="form-select" aria-label="Pilih Tingkat Keahlian" name="id_kapal" required>
                    <option selected>Pilih Kapal</option>
                    <% for(var i=0; i < data.length; i++){ %>
                        <option value="<%= data[i].id_kapal %>"><%= data[i].nama_kapal %></option>
                    <% } %>
                </select>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
            </div>
        </form>
    </div>
</body>
<%- include('../partials/footer.ejs') %>